<!--Header with Nav -->
    <header class="text-right">
        <form action="/search" class="text-left search" method="GET">
            <input name="searchfield" type="text" placeholder="Search..">
            <div>
            <span> <p> <a href="logout">logout</a></p> </span> 
              </div>
        </form>
  
        
    </header>